*{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-decoration: none;
}

body{ 
    background-color: #00050a;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width:100% 
}
p{
font-weight: 600;
font-family: 'Roboto', sans-serif;


}
 button{
   font-family: 'Roboto',sans-serif;
   font-weight: 600;
   font-size: 1.125rem
 }

 .info-container{
   margin-bottom: 0.53em;
 }

.btn-login {
  display: flex;
  justify-content: space-between;
}

.btn-login button {
  width: 2.0%;
  margin-right: 1.0%;
  background-color: transparent;
  border: none;
  margin-inline: 1%;
}

.btn-login button:hover {
  cursor: pointer;
  transition: 200ms;
}

.btn-login .logotipo { 
  width: 2.9%;
  margin-left: 0.8%;
  margin-bottom: 0.5%;
  margin-top: 1.0%;
}
/* HEADER FINAL*/
.start{
  border-top:  5px solid #F42100;
  margin-bottom: 20px;
  overflow: auto; 
}
.start button{
  padding: 5px 10px; /* Ajuste o padding para aumentar o tamanho do fundo */
  margin-left: 10px; /* Adiciona um espaçamento entre os botões */
  background-color: #FF2A00; /* Cor de fundo do botão */
  border: none; /* Remove a borda do botão */
  border-radius: 10%;
}.aval {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avaliacao {
  margin-top: 1.25em; /* Adiciona espaço entre as avaliações */
}

.am{
  margin-bottom: -1em;
  margin-right: 36.4em;
font-size: 1.125rem;

}

.ava{font-size: 26px;

}

.avaliacoes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
  gap: 1em; /* Adiciona espaçamento entre as avaliações */
}
.desc{
line-height: 1.5;

}
.avaliacao {
  flex-basis: calc(50% - 0.5em); /* Definir a largura para 50% menos o espaçamento entre os comentários */
  margin-bottom: 1em;
}



.ava{margin-top: 0.50em;}

.usercenter{
  margin-top: 2.4em;
}

.mail {
margin-bottom: 1.3em;
}

.friend{
  margin-top: 2em;
}

.friend2{
  margin-top: 0.54em;
  margin-bottom: 6em;
}

.aval{
  border-top: 2px solid #F42100;
  border-bottom:  2px solid #F42100; 
  margin-bottom: 30px;
}
.comentario{
  margin-top: 10px;
  margin-bottom: 30px;
  border-top:  2px solid #F42100; 
  border-left:  2px solid #F42100; 
}
.usercenter {
  display: flex;
  justify-content: center;
  align-items: center; /* Define a altura total da tela */
}
  img {
    float: left; /* Alinha a imagem à esquerda */
  }
  .lugarvisitado button{
    border: none;
    padding: 0%;
  }
  .start img{
    background-color: darkblue;
    border-radius: 50%;
  margin-right: 2%;
height: 10.9375em;
margin-top: 6.6em;

  }
  .friend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .friend-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
  }
  
  .friend {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .friend img {
    height: 80px;
    border: 2px solid #F42100;
    border-radius: 50%;
  }
  
  .friend-name {
    margin-top: 0.5em;
    margin-bottom: 0.8em;
  }
  
  .friend-info .friend-image {
    margin-right: 5px;
  }
  
  
  
  .text-container {
    float: left; /* Alinha o texto ao lado da imagem */
  }
  
  .name,
  .button-container {
    display: inline-block; /* Coloca os elementos em linha */
    vertical-align: middle; /* Alinha verticalmente os elementos */
  }
  
  .button-container button {
    margin-left: 10px; /* Adiciona um espaçamento entre os botões */
  }
  
  .info-container h3 {
    display: inline-block; /* Coloca os elementos h3 em linha */
    margin-right: 10px; /* Adiciona um espaçamento entre os elementos h3 */
  }
  
.lugarvisitado{
  display: flex;
  justify-content: space-between;
}


  footer{
    background-color: #F42100;
    width: 100%;
  }
   footer a, footer span, footer p{
    color:  #000000;
  
  
   }
   footer img{
    height: 50px;
   }
  .pi{
    color: #F42100;
    background: none;
    border: none;
     margin-left: 86px;
     margin-top: 36px;
  }
  .pi img {
  height: 100px;
  }
        .insta{
          margin-left: 120px;
          margin-top: 20px;
          display: flex;
          align-items: center;
        }
      
  
        .insta p{
          
          font-family: 'Roboto Mono',monospace;
          font-size: 20px;
          letter-spacing: -0.05em;
          display: inline;
          margin-left: 10px;
        }
  
  
        .insta2{
          margin-left: 106px;
          margin-top: 20px;
          display: flex;
          align-items: center;
        }
      
  
        .insta2 p{
          
          font-family: 'Roboto Mono',monospace;
          font-size: 20px;
          letter-spacing: -0.05em;
          display: inline;
          margin-left: 10px;
        }
        .rede{
          margin-left: 120px;
          margin-top: 15px;
          display: flex;
          align-items: center;
        }
   
        .rede p{
          font-family: 'Roboto Mono',monospace;
          font-size: 20px;
          letter-spacing: -0.05em;
          display: inline;
          margin-left: 10px;
        }
        .meio{
  margin: 36px 172px;
  
  margin-right: 250px;
        }
        .artista .art {
          display: flex;
          align-items: center;
        }
        .artista .art img{
          margin-left: 90px;
        height: 80px;
        
        }
        
        
        .artista p{
          
          Font-family: 'Roboto Mono',monospace;
          font-size: 20px;
          letter-spacing: -0.05em;
          display: inline;
          margin-left: 16px;
        }
        
  
  
        .base{
          display: inline-flex;
          
        }
        .direita{
          margin: 36px;
        margin-left: 150px;
        
        }
        .direita h1, .canto2 h1{
          margin-bottom: 15px;
          color:  #000000;
  
          font-family: 'Roboto Mono', monospace;
          letter-spacing: -0.05em;
          font-size: 22px;
        }
        .direita .jm{
  margin-bottom: 50px;
  
        }
        .direita p {
          color:  #000000;
  
          font-family: 'Roboto Mono', monospace;
      text-align: justify;
          font-size: 20px;
          line-height:20px;
        }
        .canto2 p{
  
          color:  #000000;
          font-family: 'Roboto Mono', monospace;
          font-size: 20px;
          line-height:20px;
        }
        .canto2{
        
  font-size: 22px;
      margin-top: 50px;
        }
 
        @media (min-width: 1300px) and (max-width: 1400px) {
          /* FOOTER /*/
          .pi{
            margin-left: 2.5em;
            margin-right: 50px;
          }
    
          .insta{
            margin-left:4.3em;
          }
    
          .rede{
            margin-left: 4.3em;
          }
    
    
          .meio{
            visibility: hidden;
          }
    
          .direita{
    
          margin-right: -30.25em;
          }
          
        }
    
    