.btn{

    padding: 25px 60px;

    display: inline;

    background-color: tomato;

    border-radius: 20px;

    cursor: pointer;

    transition: background-color 0.5s;

    position:absolute;

    top:50%;

    left:50%;

    transform: translate(-50%, -50%);

    z-index: 1;

}




.janela-modal{

    width: 60%;

    height: 100%;

    position: relative;

    top:0;

    left:0;

    background-color: #00000080;

    display: none;

    align-items: center;

    justify-content: center;

    z-index: 999;

}




.modal{

    width: 60%;

    min-width: 450px;

    min-height: 200px;

    background-color: #ffffff96;

    background-filter: blur(10px);

    padding: 100px;

    align-items: center;

    justify-content: center;

    text-align: justify;

}




.fechar{

    position: absolute;

    top: -5px;

    right: -5px;

    width: 20px;

    height: 20px;

    border-radius: 50%;

    border: 0;

    background-color: red;

    color: #fff;

    font-size: 20px;

    cursor: pointer;

}




.janela-modal.abrir{

    display:flex;

}




@keyframes abrirModal {

    from{

        opacity:0;

        transform: translate(0, -20px, -5px)

    }

    to{

        opacity: 5;

        transform: translate(0,0,0);

    }

}




.abrir .modal{

    animation: abrirmodal 0.2s;

}