@media (min-width: 1300px) and (max-width: 1400px) {
  #carousel-wrapper button
{
  background: none;
	color: inherit;
	border: none;
  
	padding: 0;
  margin-left: 30%;
  margin-right: 30%;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#carousel
{ 
  height: fit-content;
  display: flex;
  position: relative;
  width: 30%;
  margin-left: 35%;
  gap: 1rem;
  padding: 1rem 0;
  overflow-x: scroll;
;
}
#carousel::-webkit-scrollbar
{
  background: transparent;
  height: 0.5em;
}
#carousel::-webkit-scrollbar-thumb
{
  background: rgb(0, 0, 0);
  border-radius: 1em;
}

.carousel-item{
  background: #323232;
  border-radius: 1em;
  height: 20em;
  flex-shrink: 0;
}

.carousel-item img{
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

#carousel-wrapper
{
  right: 0;
  position: relative;
}

#carousel-move-right,
#carousel-move-left
{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4em;
  z-index: 3;
  background: linear-gradient( 90deg, #11111100, #11111199 );
}

#carousel-move-left
{
  scale: -1;
  left: 0;
}
   .btn-login button{
   margin-right: 1.5em;   
   }

   .btn-login .logotipo{
margin-left: 1.5em;
   }

   h1{
    line-height: 1.172em;
    margin-bottom: 0.313em;
margin-top: 1.906em;
   }

   .p1{
    margin-top: 2em;
margin-bottom: 1.3em;
   }

   .fotos{
   
    gap: 1.25em;

   }

   .emissario{
    visibility: hidden;
   }

   .basquete{
    width: 31.25em;
    margin-left: 34.375em;
    margin-right: 6em;
    margin-top: 3.125em;

   }

   .lio{
    width: 31.25em;

    margin-top: 3.125em;

   }

   .fp{

width: 7.692em;
margin-left: 30em;
margin-top: 1.923em;
margin-bottom:5.769em ;
   }

   .md{
margin-top: 0.727em;
margin-bottom: -0.909em ;
margin-left: 0.636em;
   }

  .p3{
    margin-left: 18.8em;

    margin-top:3.571em;
    margin-bottom: -5.476em;
  }

.p4{
  margin-left: 20em;
  height: 10em ;
}

.explore1{
  width: 28.6em;
  margin-left: -4.2em;
  margin-right: -0.25em;
}

.explore2{
  width: 28.6em;
height: 21.5em;
  margin-bottom:-0.25em ;
}

.pe{
  margin-left: 1.375em;
  margin-top: 2.25em;
}
.pe img{
  height: 4.545em;
}

.insta{
  margin-left: 1.87em;
  margin-top: 1.25em;
}

.insta p{
margin-left: 0.5em;

}
.insta img, .rede img{
height: 2.273em;

}
.rede{
  margin-left: 2em;
  margin-top: 0.938em;
}

.rede p{
  margin-left: 0.5em;
}

.artista{
  margin: 1.25em 0.625em;
}

.artista img{
  height: 3.636em;
}
.artista .job{
  margin-left: 1em;
}

.direita{
  margin: 3.125em;
}

.direita p .canto p{
font-family: 'Roboto Mono',sans-serif;
width: 31.6em;
font-size: 18px;

}

.canto{
  margin-left: -1em;
}
.legal{
  margin-top: 8em;
  margin-left: -18em;
}
.ub{
margin-left: 0.5em;
}
.dindin{
  margin-left: -5em;
}
/*Código do login*/

footer img{
 height: 3em;
}

.pi{
 color: #F42100;
 background: none;
 border: none;
  margin-top: 1.25em;
}
.pi img {
height: 6.25em;
}
     .insta{
       margin-left: 7.5em;
       margin-top: 1.25em;
       display: flex;
       align-items: center;
     }
   

     .insta p{
       
       font-family: 'Roboto Mono',monospace;
       font-size: 20px;
       letter-spacing: -0.05em;
       display: inline;
       margin-left: 0.625em;
     }


     .insta2{
      margin-left: 2em;
       margin-top: 1.25em;
       display: flex;
       align-items: center;
     }
   

     .insta2 p{
       
       font-family: 'Roboto Mono',monospace;
       font-size: 20px;
       letter-spacing: -0.05em;
       display: inline;
     }
     .rede{
       margin-left: 7.5em;
       margin-top: 0.9375em;
       display: flex;
       align-items: center;
     }

     .rede p{
       font-family: 'Roboto Mono',monospace;
       font-size: 20px;
       letter-spacing: -0.05em;
       display: inline;
       margin-left: 0.625em;
     }
     .meio{
margin: 2.25em;
margin-right: 3em;
     }
     .artista .art {
       display: flex;
       align-items: center;
       margin-left: -5em;
     }
     .artista .art img{
       margin-left: 5.625em;
     height: 5em;
     
     }

     .artista p{
       
       Font-family: 'Roboto Mono',monospace;
       font-size: 20px;
       letter-spacing: -0.05em;
       display: inline;
       margin-left: 1em;
     }
     


     .base{
       display: inline-flex;
       
     }
     .direita{
       margin: 2.25em;
     margin-left: 4.375em;
     margin-right: 3em;
     }
     .direita h1, .canto h1{
       margin-bottom: 0.9375em;
       color:  #000000;

       font-family: 'Roboto Mono', monospace;
       letter-spacing: -0.05em;
       font-size: 22px;
     }
     .direita .jm{
margin-bottom: 3.125em;

     }
     .direita p {
       color:  #000000;

       font-family: 'Roboto Mono', monospace;
   text-align: justify;
       font-size: 20px;
       line-height:1.25em;
     }
     .canto p{

       color:  #000000;
       font-family: 'Roboto Mono', monospace;
       font-size: 20px;
       line-height:1.25em;
     }
     .canto{
     
font-size: 22px;
   margin-top: 3.125em;
     }
    
}