@media (min-width: 1300px) and (max-width: 1400px) {
  #carousel-wrapper button
{
  background: none;
	color: inherit;
	border: none;
  
	padding: 0;
  margin-left: 30%;
  margin-right: 30%;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#carousel
{ 
  height: fit-content;
  display: flex;
  position: relative;
  width: 30%;
  margin-left: 35%;
  gap: 1rem;
  padding: 1rem 0;
  overflow-x: scroll;
;
}
#carousel::-webkit-scrollbar
{
  background: transparent;
  height: 0.5em;
}
#carousel::-webkit-scrollbar-thumb
{
  background: rgb(0, 0, 0);
  border-radius: 1em;
}

.carousel-item{
  background: #323232;
  border-radius: 1em;
  height: 20em;
  flex-shrink: 0;
}

.carousel-item img{
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

#carousel-wrapper
{
  right: 0;
  position: relative;
}

#carousel-move-right,
#carousel-move-left
{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4em;
  z-index: 3;
  background: linear-gradient( 90deg, #11111100, #11111199 );
}

#carousel-move-left
{
  scale: -1;
  left: 0;
}
   .btn-login button{
   margin-right: 1.5em;   
   }

   .btn-login .logotipo{
margin-left: 1.5em;
   }

   h1{
    line-height: 1.172em;
    margin-bottom: 0.313em;
margin-top: 1.906em;
   }

   .p1{
    margin-top: 2em;
margin-bottom: 1.3em;
   }

   .fotos{
   
    gap: 1.25em;

   }

   .emissario{
    visibility: hidden;
   }

   .basquete{
    width: 31.25em;
    margin-left: 34.375em;
    margin-right: 6em;
    margin-top: 3.125em;

   }

   .lio{
    width: 31.25em;

    margin-top: 3.125em;

   }

   .fp{

width: 7.692em;
margin-left: 30em;
margin-top: 1.923em;
margin-bottom:5.769em ;
   }

   .md{
margin-top: 0.727em;
margin-bottom: -0.909em ;
margin-left: 0.636em;
   }

  .p3{
    margin-left: 18.8em;

    margin-top:3.571em;
    margin-bottom: -5.476em;
  }

.p4{
  margin-left: 20em;
  height: 10em ;
}

.explore1{
  width: 28.6em;
  margin-left: -4.2em;
  margin-right: -0.25em;
}

.explore2{
  width: 28.6em;
height: 21.5em;
  margin-bottom:-0.25em ;
}

.pe{
  margin-left: 1.375em;
  margin-top: 2.25em;
}
.pe img{
  height: 4.545em;
}

.insta{
  margin-left: 1.87em;
  margin-top: 1.25em;
}

.insta p{
margin-left: 0.5em;

}
.insta img, .rede img{
height: 2.273em;

}
.rede{
  margin-left: 2em;
  margin-top: 0.938em;
}

.rede p{
  margin-left: 0.5em;
}

.artista{
margin-top: 10.76em;
margin-left: -15.5em;
}

.artista img{
  height: 3.636em;
}
.artista .job{
  margin-left: 1em;
}



.direita p .canto p{
font-family: 'Roboto Mono',sans-serif;
width: 31.6em;
font-size: 18px;

}
.canto2{
  margin-left: -89%;
  margin-top: 12%;
}
.canto p{
  margin-left: -1000px;
  margin-right: -500em;
}
.legal p{
color: white;
  margin-left: -500000000000px;
}
.ub{
margin-left: 0.5em;
}
.dindin{
  margin-left: -5em;
}
.artista .dindin{
  margin-left: 0em;
}
.artista .dindin img{
  width: 2em;
  height: 2em;
}

/*Código do login*/
.artista2 .dindin img, .artista2 .dindin{
  width: 2em;
  height: 2em;
  margin-left: 0em;
} 
footer img{
 height: 3em;
}

.pi{
 color: #F42100;
 background: none;
 border: none;
  margin-top: 1.25em;
}
.pi img {
height: 6.25em;
}
     .insta{
       margin-left: 7.5em;
       margin-top: 1.25em;
       display: flex;
       align-items: center;
     }
   

     .insta p{
       
       font-family: 'Roboto Mono',monospace;
       font-size: 20px;
       letter-spacing: -0.05em;
       display: inline;
       margin-left: 0.625em;
     }
.cont{
  margin-left: 0.7em;
}
.cont p{
margin-top: 0.2em;
}
     .insta2{
      margin-left: 2em;
       margin-top: 1.25em;
       display: flex;
       align-items: center;
     }
   

     .insta2 p{
       
       font-family: 'Roboto Mono',monospace;
       font-size: 20px;
       letter-spacing: -0.05em;
       display: inline;
     }
     .rede{
       margin-left: 7.5em;
       margin-top: 0.9375em;
       display: flex;
       align-items: center;
     }

     .rede p{
       font-family: 'Roboto Mono',monospace;
       font-size: 20px;
       letter-spacing: -0.05em;
       display: inline;
       margin-left: 0.625em;
     }
     .meio .canto{
margin: 4.25em;
margin-right: -19em;
     }
     .artista .art {
       display: flex;
       align-items: center;
       margin-left: -5em;
     }
     .artista .art img{
       margin-left: 5.625em;
     height: 3em;
     
     }

     .artista p{
       
       Font-family: 'Roboto Mono',monospace;
       font-size: 20px;
       letter-spacing: -0.05em;
       display: inline;
       margin-left: 1em;
     }
     


     .base{
       display: inline-flex;
       
     }
     .direita{
       margin: 2.25em;
     margin-left: -12em;
     margin-right: em;
     }
     .direita h1, .canto h1{
       margin-bottom: 0.9375em;
       color:  #000000;

       font-family: 'Roboto Mono', monospace;
       letter-spacing: -0.05em;
       font-size: 22px;
     }
     .direita .jm{
margin-bottom: 3.125em;

     }
     .direita p {
       color:  #000000;

       font-family: 'Roboto Mono', monospace;
   text-align: justify;
       font-size: 20px;
       line-height:1.25em;
     }
     .canto p{

       color:  #000000;
       font-family: 'Roboto Mono', monospace;
       font-size: 20px;
       line-height:1.25em;
     }
     .canto{
font-size: 22px;
     }
    

/*Página de perfil */
.barra-perfil{
 
  display: flex;
}

#imageBackground{
height:8.5em;
max-width: 15.5em;
margin-top: 3.0625em;
margin-left: 14.3125em;
background-color: #00417D;
border-radius: 8.75em;
}

hr{ 

  height: 5px;
  width: 100%;
  background-color: #F42100;
  border: none;
}

.vl {
  top: 9.375em;
  width: 100%;
  height: 0.25em;
  background-color:#F42100;
  border: none;
}
#changeColorButton{
padding: 1.4375em 0.375em 1.4375em 0.375em;
color: #FFFFFF;
font-family: 'Roboto',sans-serif;
letter-spacing: -0.05em;
font-size: 1.4375em;
font-weight: 800;
line-height: 10%;
border: none;
margin-top: -20%;
margin-left: -20%;
width: 15.5em;
border: 0.0625em solid #FF2A00;
background-color: #00050a;
}
.hidden {
display: none;

}

#pop-up {
background-color: #000000;
border: 0.125em solid #FF2A00;
position: fixed;
top: 25%;
left: 39%;
transform: translate(-50%, -50%);
}

.imagem-popup {
width: 7.5em;
height: 7.5em;
margin: 0.625em;
border-radius: 0.625em;
border: #F42100;
}

.conta{
    padding: 1.4375em 0.375em 1.4375em 0.375em;
    margin-top: 1em;
    margin-left: 5em;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    letter-spacing: -0.05em;
    font-size: 1.4375em;
    font-weight: 800;
    line-height: 100%;
    border: none;
    width: 15.5em;
    height: 3.5em;
    border: 0.0625em solid #FF2A00;
    background-color: #00050a;
  }
.botoes button:hover, #changeColorButton:hover {
  cursor: pointer;
  transition: 200ms;
  background-color: #FF2A00;
}

.troca{
font-weight: 700;
font-size: 2.0625em;
}

.pessoa{
  margin-left: 6.25em;
  line-height: 1.8125em;
  font-weight: 600;
  font-size: 24px;
}
.imgmodog{
  border-radius: 50%;
  width: 12.5em;
  margin-top: 5.625em;
  margin-bottom: -13em;
  height: 12.5em;
  background-color: #00417D;
}
.customacc{
margin-left: -31.625em;
}
.vl2{ 
margin-left: -0.625em;
width: 86em;
height: 0.25em;
background-color:#F42100;
border: none;
}
.image-container-mod {
  margin-left: 35em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chag{
margin-top: 100%;
display: flex; 
flex-direction: column;
justify-content: center;
  align-items: center;
}
#config{
  position: absolute;
  left: 50%;
}
#bola {
  margin-top: 10em;
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.trc{
    display: flex;
    margin-left: 13.5em;
    margin-top: -9.875em;
}
.div-with-plus {
  position: relative;
  width: 25em;
  height: 21.875em;
  border: 0.0625em solid #F42100;
}

.div-with-plus::before,
.div-with-plus::after {
  position: absolute;
  content: '';
  background-color: rgb(255, 255, 255);
}

.div-with-plus::before {
  width: 50%;
  margin-left: 25%;
  height: 0.625em;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.div-with-plus::after {
  width: 0.625em;
  margin-top: 23%;  
  height: 50%;
  border-radius: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.div-with-plus{
  background-color: #5c5b5b;
  margin-top: 8.5%;
  border-radius: 10%;
  margin-left: 50%;
}
.first{
  float: left;
  margin: 78% 0% 0% 16%;
}

/* MAPA /*/

.pesq{
  margin-top: 100px;
}

}
