* {
    margin: 0;
    padding: 0;
    color: #ffff;
    text-decoration: none;
}

body {
  font-family: 'Roboto',sans-serif;
  background-color: #00050a;
  overflow-x: hidden;
}

h1 h2{
  font-style: normal;
  font-weight: 900;
}
p{
  font-style: normal;
  font-weight: 400;
}

.nome{
height: 30px;
margin:34px;
margin-right: 920px;
}

/* HEADER*/
#carousel-wrapper button
{
  background: none;
	color: inherit;
	border: none;
  
	padding: 0;
  margin-left: 25%;
  margin-right: 25%;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#carousel
{ 
  height: fit-content;
  display: flex;
  position: relative;
  width: 40%;
  margin-left: 30%;
  gap: 1rem;
  padding: 1rem 0;
  overflow-x: scroll;
;
}
#carousel::-webkit-scrollbar
{
  background: transparent;
  height: 0.5rem;
}
#carousel::-webkit-scrollbar-thumb
{
  background: rgb(0, 0, 0);
  border-radius: 1rem;
}

.carousel-item{
  background: #323232;
  border-radius: 1rem;
  height: 25rem;
  flex-shrink: 0;
}

.carousel-item img{
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

#carousel-wrapper
{
  right: 0;
  position: relative;
}

#carousel-move-right,
#carousel-move-left
{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5rem;
  z-index: 3;
  background: linear-gradient( 90deg, #11111100, #11111199 );
}

#carousel-move-left
{
  scale: -1;
  left: 0;
}

.btn-login {
    display: flex;
    justify-content: space-between;
}

.btn-login button {
    width: 2.0%;
    margin-right: 1.0%;
    background-color: transparent;
    border: none;
    margin-inline: 1%;
}

.btn-login button:hover {
    cursor: pointer;
    transition: 200ms;
}

.btn-login .logotipo { 
    width: 2.9%;
    margin-left: 0.8%;
    margin-bottom: 0.5%;
    margin-top: 1.0%;
}

hr {
  top: 150px;
  width: 100%;
  height: 6px;
  background-color:#F42100;
  border: none;
}

.fundo {
    
    background-position: center;
    background-repeat: repeat;
    width: 100%;
}

/* HEADER FINAL*/

h1 {
    font-size: 64px;
    line-height: 75px;
    align-items: flex-end;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 122px;
}


/* PÓS SLIDER - COMEÇO*/
.p1{
  font-family: 'Roboto ', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size:24px;
  line-height: 100%;
  letter-spacing: -0.05em;
  margin-top: 48px;
  text-align: center;
  margin-bottom: 3%;

}

section{
  background-color: #00050a;
}
.Secao-2{
  margin-top: 10%;
}
.atd{
  background-color: #00050a;
margin-top: -2%;
}

.Secao-3{
  background-color: #00050a;
  margin-top: -5%;
}
 
h2{
 text-align: center;
 margin-top: 64px;
 line-height: 75px;
 font-size: 64px;
}


.p2{
  font-family: 'Roboto ', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size:24px;
  margin-top: 22px;
  text-align: center;   
  line-height: 100%;
  letter-spacing: -0.05em;
}

.fotos{
display: flex;
justify-content: space-around;
align-items: left;
gap: 20px;

}

.emissario{
  width: 500px;
  height: 500px;
  margin-top: 50px;
  border-radius: 8px;
}

.emissario:hover {
  box-shadow: 0 0 8px #e22f0b;
  
}

.basquete{
    width: 500px;
    height: 500px;
    margin-top: 50px;
    border-radius: 8px;
}


.basquete:hover {
  box-shadow: 0 0 8px #e22f0b;
  
}

.lio{
    width: 500px;
    height: 500px;
    margin-top: 50px;
    border-radius: 8px;
}

.lio:hover {
  box-shadow: 0 0 8px #e22f0b;
  
}
.bs{
 display: flex;
 margin-left: 210px;
}

.fp{
 width: 200px;
 height: 40px;
 margin-left: 1381px;
 margin-top: 50px;
 border: none;
 background-color:  #FF2A00;
font-family: 'Roboto';
 font-weight: 800;
 font-size: 26px;
 line-height: 100%;
 letter-spacing: -0.05em;
 margin-bottom: 150px;
 border-radius: 8px;
}

.fp:hover{
  cursor: pointer;
  box-shadow: 0 0 8px #e22f0b;
  border: solid 1px #FF2A00;
  transition: all 0.3s linear;
}


/* PÓS SLIDER - FIM*/

.loc{
    background-color: #00050a;
}
img .loc{
  width: 100%;
}

.md{
  margin-top: 40px;
  margin-bottom: -50px;
  height: 59px;
  line-height: 59px;
  text-align: center;
  justify-content: center;
  font-size: 55px ;
  line-height: 75px;
  letter-spacing: -0.05em;
  word-spacing: 0.07em;
}

.p3{
  display: flex;
  position: absolute;
  padding: 8px;
  text-align: center;
  margin-left: 735px;
  margin-top: 75px;
  margin-bottom: -115px;
  font-size: 21px;
  justify-content: center;
  line-height: 100%;
  letter-spacing: -0.03em;
}
.p4{
  margin-top: 50px;
  position: absolute;
  padding: 17px;
  margin-left: 742px;
  height: 200px;
  width: 508px;
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  text-align: justify;
}

.explore1{
  display:inline-block;
  margin-left: -85px;
  margin-bottom: -4px;
}

.explore2{
  float: right;
  justify-content: left;
  margin-bottom: -4px;
  
}

.photos{
    display: flex;
}

button{
font-family: 'Roboto', sans-serif;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
gap: 160px;
}

.buttons p{
display: flex ;
justify-content: center;
}

.b1{
    width: 580px;
    height: 125px;
    border-radius: 18px;
    background-color: black;
    border-color: #FF2A00;
    margin-top: 300px;
    margin-right: 105px;
    margin-left: 230px;
    margin-bottom: 40px;
}

.b2{
    width: 580px;
    height: 125px;
    border-radius: 18px;
    border-color: #FF2A00;
    background-color: black;
    margin-left: 230px;
    margin-right: 105px;
    margin-bottom: 40px;
}

.buttons button:hover{
    cursor: pointer;
    transition: 200ms;
    background-color: #FF2A00;
}

.foto{
    width: 760px;
    height: 760px;
    margin-top:145px ;
    margin-right: 230px;
    margin-bottom: 105px;
}

hr{
  top: 150px;
  width: 100%;
  height: 6px;
  background-color:#F42100;
  border: none;
}

footer{
  background-color: #F42100;


bottom: 0px;
  width: 100%;
}
 footer a, footer span, footer p{
  color:  #000000;


 }

 footer img{
  height: 50px;


 }
.pe{
  color: #F42100;
  background: none;
  border: none;
   margin-left: 86px;
   margin-top: 36px;
}
.pe img {

  height: 100px;
}
.artista .dindin .insta{
  margin-left:18px;
}
.cont p{
  margin-left: 5.6em;
  margin-top:-1em;
}
.cont h1{
  margin-top: 3em;
  margin-left: 5em;
}
.dindin1 .legal{
  margin-left: 0%;
  margin-top: -3%;
}
      .insta{
        margin-left: 107px;
        margin-top: 20px;
        display: flex;
        align-items: center;
      }
    

      .insta p{
        
        font-family: 'Roboto Mono',monospace;
        font-size: 20px;
        letter-spacing: -0.05em;
        display: inline;
        margin-left: 10px;
      }
      .rede{
        margin-left: 108px;
        margin-top: 15px;
        display: flex;
        align-items: center;
      }
 
      .rede p{
        font-family: 'Roboto Mono',monospace;
        font-size: 20px;
        letter-spacing: -0.05em;
        display: inline;
        margin-left: 10px;
      }
      .artista{
        margin: 20px 90px;
      }
      .artista .art {
        display: flex;
        margin-top: 35px;
        align-items: center;
      }
      .artista .art img{
      height: 80px;
      
      }
      
      .artista .job{
        margin-bottom: -100%;
        margin-left: 5%;
        font-size: 16px;
      }
      .artista p{
        Font-family: 'Roboto Mono',monospace;
        font-size: 20px;
        letter-spacing: -0.05em;
        display: inline;
        margin-left: 10px;
      }
       .artista span {
        display: block;
        margin-bottom: -2%;
        margin-top: -5%;
        margin-left: 15%;
        font-size: 15px;
      }


      .base{
        display: inline-flex;
        
      }
      .direita{
        margin: 50px;
        margin-left: -10px;
      }
      .direita h1, .canto h1{
        margin-bottom: -35px;
        color:  #000000;

        font-family: 'Roboto Mono', monospace;
        letter-spacing: -0.05em;
        font-size: 22px;
        display: inline;
      }
      .direita p, .canto p{
        color:  #000000;

        font-family: 'Roboto Mono', monospace;
        width: 672PX;
        text-align: justify;
        font-size: 20px;
        margin-bottom: 0%;
        line-height:20px;
      }
  
      .canto{
        float: right;
        margin-top: -4.0em;
        margin-right: -43.5em;
        font-size: 22px;
      }

      .dindin h1{
        margin-bottom: -35px;
        color:  #000000;
        margin-right: -100em;
        font-family: 'Roboto Mono', monospace;
        letter-spacing: -0.05em;
        font-size: 22px;
        display: inline;
      }
      
      .dindin p {
        color:  #000000;
        font-family: 'Roboto Mono', monospace;
        width: 672PX;
        text-align: justify;
        margin-right: -6em;
        font-size: 20px;
        margin-bottom: 0%;
        line-height:20px;
      }
    
     .trab{
     margin-top: -100%;
     }
    
     /* RESPONSIVIDADE*/

    
     